<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-12 text-center section-sm">
        <a href="{{ site.BaseURL }}"><img src="{{ site.Params.logo | absURL }}" class="img-fluid"
            alt="{{ site.Title }}"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="font-weight-medium mb-4">Меню:</h5>
        <ul class="list-unstyled">
          {{ range site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Наши контакты:</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ site.Params.location }}
          </li>
        </ul>
        <!-- Social Icons -->
        <ul class="list-inline">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 col-md-5">
        <h5 class="font-weight-medium mb-4">Форма обратной связи</h5>
        <form class="needs-validation" action="{{ site.Params.contact.formAction }}" method="POST">
          <input type="hidden" class="form-control mb-2" id="currentURL" name="currentURL" value="">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Имя" required>
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Email" required>
          <input type="phone" class="form-control mb-2" id="phone" name="phone" placeholder="+7 (000) 000 00 00" required>
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Сообщение"></textarea>
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Отправить</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        {{ site.Params.copyright | markdownify  }}
      </div>
    </div>
  </div>
</footer>

<!-- CallBack modal -->
<div class="modal fade" id="callBackModal" tabindex="-1" role="dialog" aria-labelledby="callBackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="callBackModalLabel">Заказать обратный звонок</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="{{ site.Params.contact.formAction }}" method="POST" id="callBackRequest">
                    
                    <input type="hidden" class="form-control mb-2" id="currentURL-1" name="currentURL" value="">
                    <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Имя" required>
                    <input type="hidden" class="form-control mb-2" id="email" name="email" value="noreply@ecolograd.ru">
                    <input type="phone" class="form-control mb-2" id="phone" name="phone" placeholder="+7 (000) 000 00 00" required>
                    <input type="hidden" class="form-control mb-2" id="message" name="message" value="Запрос на обратный звонок с сайта.">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary rounded" data-dismiss="modal">Отменить</button>
                <button type="submit" form="callBackRequest" value="send" class="btn btn-primary rounded">Заказать</button>
            </div>
        </div>
    </div>
</div>
<!-- /CallBack modal -->

{{ if site.Params.cartwidget }}
{{ with site.Params.snipcartApiKey }}
{{ "<!-- Snipcart -->" | safeHTML }}
<div id="snipcart" data-api-key="{{ . }}" hidden></div>
{{ end }}
{{ end }}

{{ "<!-- Google Maps API -->" | safeHTML }}
<script src="{{ site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ with site.Params.googleAnalitycsID }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QDR4EKDVT6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QDR4EKDVT6');
</script>

<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87199504, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87199504" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

{{ end }}

{{ if site.Params.rating.enable }}
{{ "<!-- Product Ratings -->" | safeHTML }}
<script>
(function (d, t, e, m) {
  // Async Rating-Widget initialization
  window.RW_Async_Init = function () {
    RW.init({
      huid: "{{ site.Params.rating.websiteID }}",
      uid: "{{ site.Params.rating.publicKey }}",
      source: "website",
      options: {
        "size": "medium",
        "style": "oxygen",
        "isDummy": false
      }
    });
    RW.render();
  };
  // Append Rating-Widget JavaScript library
  var rw, s = d.getElementsByTagName(e)[0],
    id = "rw-js",
    l = d.location,
    ck = "Y" + t.getFullYear() +
    "M" + t.getMonth() + "D" + t.getDate(),
    p = l.protocol,
    f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
    a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
  if (d.getElementById(id)) return;
  rw = d.createElement(e);
  rw.id = id;
  rw.async = true;
  rw.type = "text/javascript";
  rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
  s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));
</script>
{{ end }}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
                                  
        });
                  
      }
            
    });
      
  }
</script>
{{ "<!-- Current URL JS -->" | safeHTML }}
<script>
    document.getElementById('currentURL').value = window.location.href;

    $('#callBackModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        modal.find('#currentURL-1').val(window.location.href)
    })
    
    let container = document.querySelector("#alert-container");

    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
                
    }

    window.onload = function(){
        if (getParameterByName("fs") == 1){
            container.innerHTML =
            `<div class="alert alert-light border-primary text-primary alert-dismissible fade show" role="alert" id="successAlert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <span class="align-top"><strong>&nbsp;&nbsp;Удачно!</strong> Данные формы успешно отправлены.</span>
                <button type="button" class="close text-primary" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>`
            ;
        }
        window.setTimeout(function(){
            $("#successAlert").alert('close');
        },7000);
    }
</script>

